{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "Backward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "Right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Voice",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "v",
      "GamepadCode": "None"
    },
    {
      "Name": "Lightning ",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "B",
      "GamepadCode": "None"
    },
    {
      "Name": "RamLeft ",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "Q",
      "GamepadCode": "None"
    },
    {
      "Name": "RamRight",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "E",
      "GamepadCode": "None"
    },
    {
      "Name": "Ready",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "SPACE",
      "GamepadCode": "None"
    },
    {
      "Name": "Change Track",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "TAB",
      "GamepadCode": "None"
    }
  ],
  "__guid": "6a60e84f-32a1-4b8d-86b7-8cf060f7a52d",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}